<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="shortcut icon"
      href="https://th.bing.com/th/id/OIP.kwE8IapDUTtylieeRnn2YAHaHa?pid=ImgDet&rs=1"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/error.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamSpaces - Error</title>
  </head>
  <body>
    <div class="container">
      <h1>Notification</h1>
      <% if (error) { %>
      <p><%= error %></p>
      <% } else { %>
      <p>There was an error.</p>
      <% } %>
    </div>
  </body>
</html>
