<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Details</title>
    <link rel="stylesheet" href="/css/residential_plot.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <nav class="navbar nav">
        <section class="flex">
          <a href="/index" class="logo"><i class="fas fa-house"></i>DreamSpaces</a>
          <i class="mobile-view fa-solid fa-bars"></i>
          <ul id="top-menu">
            <li>
              <a href="/post_your_property"
                >Post Property<i class="fas fa-paper-plane"></i
              ></a>
            </li>
            <li>
              <a href="/user_details?tab=saved_properties&tabId=saved_props"
                ><span class="menu-mobile-view">Saved</span
                ><i class="far fa-heart"></i
              ></a>
            </li>
            <li>
              <a href="/notification" class="notifications">
                <span class="menu-mobile-view">Notifications</span>
                <i class="far fa-bell"></i>
              </a>
            </li>
            <li class="user-profile">
              <a href="#" class="profile-icon"
                ><span class="menu-mobile-view">User</span
                ><i class="fas fa-user"></i
              ></a>
              <ul>
                <li>
                  <a href="./user_details?tab=account&tabId=acc">Profile</a>
                </li>
                <li><a href="/login_signup">Sign Up</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </header>
  
    <div class="container">
      <div class="sidebar">
        <nav>
          <ul>
            <div class="Property Details" style="margin-bottom: 50px">
              <li>
                <i class="fas fa-home"></i
                ><a
                  href="#"
                  onclick="showPropertyDetails()"
                  style="font-size: 20px"
                  >Property Details</a
                >
              </li>
            </div>
            <div
              class="Rent Details"
              id="rentDetailsLink"
              style="margin-bottom: 50px"
            >
              <li>
                <i class="fas fa-dollar-sign"></i
                ><a
                  href="#"
                  id="rentDetailsAnchor"
                  onclick="showRentalDetails()"
                  style="font-size: 20px"
                  >Sale Details</a
                >
              </li>
            </div>
            <div class="Locality" style="margin-bottom: 50px">
              <li>
                <i class="fas fa-map-marker-alt"></i
                ><a
                  href="#"
                  onclick="showLocalityDetails()"
                  style="font-size: 20px"
                  >Locality</a
                >
              </li>
            </div>
            <div class="Gallery" style="margin-bottom: 50px">
              <li>
                <i class="fas fa-camera"></i
                ><a
                  href="#"
                  onclick="showGalleryAndScheduleForm()"
                  style="font-size: 20px"
                  >Gallery</a
                >
              </li>
            </div>
            <div class="Amenities">
              <li>
                <i class="fas fa-utensils"></i
                ><a
                  href="#"
                  onclick="showAmenitiesForm()"
                  style="font-size: 20px"
                  >Amenities</a
                >
              </li>
            </div>
          </ul>
        </nav>
      </div>
      <div class="forms">
        <div id="PropertyDetailsform" class="form">
          <h1 style="margin-bottom: 30px; font-size: 30px">
            <i class="fas fa-home"></i> Property Details
          </h1>
          <div
            class="input-group1"
            style="margin-bottom: 50px; margin-left: 10px"
          >
            <label for="plotarea" style="font-size: 20px"
              >Plot Area (sq feet):</label
            >
            <input
              type="number"
              id="plot-area"
              name="plot-area"
              min="0"
              placeholder="Plot Area"
              style="height: 25px"
              required
            />
          </div>
          <div
            class="input-group2"
            style="margin-bottom: 50px; margin-left: 10px"
          >
            <label for="length" style="font-size: 20px"
              >Length (sq feet):</label
            >
            <input
              type="number"
              id="length"
              name="length"
              min="0"
              placeholder="Length"
              style="height: 25px; margin-right: 30px"
              required
            />

            <label for="width" style="font-size: 20px">Width (sq feet):</label>
            <input
              type="number"
              id="width"
              name="width"
              min="0"
              placeholder="Width"
              style="height: 25px"
              required
            />
            <br />
            <br />
            <br />
            <br />
            <br />
            <label for="bWall" style="font-size: 20px">Boundary Wall</label>
            <label
              ><input
                type="radio"
                name="bWall"
                value="yes"
                style="font-size: 20px"
              />yes</label
            >
            <label
              ><input
                type="radio"
                name="bWall"
                value="no"
                style="font-size: 20px"
              />no</label
            >
          </div>
          <div
            class="input-group3"
            style="margin-bottom: 50px; margin-left: 10px"
          >
            <label for="floors" style="font-size: 20px"
              >Floors allowed for construction:</label
            >
            <input
              type="number"
              id="floors"
              name="floors"
              min="0"
              placeholder="Floors"
              style="height: 25px"
              required
            />
          </div>
          <div
            class="input-group4"
            style="margin-bottom: 50px; margin-left: 10px"
          >
            <label for="project" style="font-size: 20px"
              >Is your Property inside any Gated Project</label
            >
            <select
              id="project"
              name="project"
              style="height: 35px; width: 70px; margin-right: 55px"
            >
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
          <button
            id="save-property-details-btn"
            onclick="saveAndContinuePropertyDetails()"
          >
            Save Property Details
          </button>
        </div>
        <div id="RentalDetailsform" class="form">
          <h1 style="margin-bottom: 30px; font-size: 35px">
            <i class="fas fa-dollar-sign"></i> Sale Details
          </h1>

          <div
            class="input-group5"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="Expected-rent" style="font-size: 20px"
              >Expected Budget for Development:</label
            >
            <input
              type="number"
              id="Expected-rent"
              name="Expected-rent"
              min="0"
              placeholder="Enter Amount"
              size="10"
              style="width: 170px; margin-right: 55px; height: 35px"
              required
            />

            <input
              type="checkbox"
              id="Budget-Negotiable"
              name="Budget Negotiable"
              value="Budget Negotiable"
            />
            <label for="Budget Negotiable" style="font-size: 20px"
              >Budget Negotiable</label
            ><br />
          </div>

          <div
            class="input-group6"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="Expected-commission" style="font-size: 20px"
              >Expected Commision for Builder(in percentage):</label
            >
            <input
              type="number"
              id="Expected-commission"
              name="Expected-commission"
              min="0"
              placeholder="Enter Amount"
              size="10"
              style="width: 170px; margin-right: 55px; height: 35px"
              required
            />
            <br />
            <br />
            <br />
            <input
              type="checkbox"
              id="Commission-Negotiable"
              name="Commission Negotiable"
              value="Commission Negotiable"
            />
            <label for="Commission Negotiable" style="font-size: 20px"
              >Commission Negotiable</label
            ><br />
          </div>

          <div
            class="input-group8"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="Available From " style="font-size: 20px"
              >Available From :</label
            >
            <input
              type="date"
              id="Available-From "
              name="Available From "
              style="height: 35px; margin-right: 65px"
              required
            />
          </div>

          <div class="input-gruopx">
            <label
              for=" Have you paid Property Tax?  "
              style="font-size: 20px; margin-left: 10px"
              >Have you paid Property Tax?
            </label>
            <select
              id="Propertytax"
              name="Propertytax"
              style="height: 35px; margin-right: 55px"
            >
              <option value="Yes">Yes</option>
              <option value="No">No</option>
              <option value="Dont Know">Dont Know</option>
            </select>
            <br /><br /><br />
            <label
              for=" Do You have Occupancy Certificate?  "
              style="font-size: 20px; margin-left: 10px"
              >Do You have Occupancy Certificate?
            </label>
            <select
              id="Occupancy"
              name="Occupancy"
              style="height: 35px; margin-right: 55px"
            >
              <option value="Yes">Yes</option>
              <option value="No">No</option>
              <option value="Dont Know">Dont Know</option>
            </select>
          </div>
          <br /><br />

          <button
            id="save-rental-details-btn"
            onclick="saveAndContinueRentalDetails()"
          >
            Save Sale Details
          </button>
        </div>

        <div id="LocalityDetailsform">
          <h2 style="font-size: 30px; margin-bottom: 30px">
            <i class="fas fa-map-marker-alt"></i> Locality
          </h2>
          <div
            class="input-group11"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="City" style="font-size: 20px">City :</label>
            <select
              id="City"
              name="City"
              style="height: 35px; margin-right: 55px; width: 360px"
              required
            >
              <option value="Chennai">Chennai</option>
              <option value="Mumbai">Mumbai</option>
              <option value="Banglore">Banglore</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Kolkata">Kolkata</option>
            </select>
            <br /><br /><br /><br /><br />
            <label for="Locality" style="font-size: 20px">Locality :</label>
            <input
              type="text"
              id="Locality"
              name="Locality"
              placeholder="Enter Locality"
              size="10"
              style="width: 170px; height: 35px; width: 360px"
              required
            />

            <br />
            <br />
            <br />
            <br />
            <label for="LocalLandmark / Streetity" style="font-size: 20px"
              >Landmark / Street :</label
            >
            <input
              type="text"
              id="Landmark / Street"
              name="Landmark / Street"
              placeholder="Enter Landmark / Street"
              size="10"
              style="width: 170px; height: 35px; width: 360px"
              required
            />
            <br />
            <br />
            <br />
            <br />
            <p style="font-size: 20px">Description-box</p>
            <br />
            <textarea
              id="description-input"
              placeholder="Write a few lines about your property which is special and makes your property stand out. Please do not mention your contact details in any format."
              rows="4"
              cols="50"
            ></textarea>
          </div>
          <button
            id="save-locality-details-btn"
            onclick="saveAndContinueLocalityDetails()"
          >
            Save Locality Details
          </button>
        </div>
        <div id="centeredWrapper">
          <div id="Gallery">
            <h2 style="font-size: 30px">
              <i class="fas fa-camera"></i> Gallery
            </h2>
            <br />
            <div class="file-input">
              <input
                type="file"
                id="image"
                name="image"
                accept="image/*"
                multiple
                max="10"
              />
              <label for="image">Choose image(s) (Maximum 10)</label>
            </div>
            <br /><br />
            <button type="button" id="uploadBtn">Upload</button>
            <div id="uploadStatus"></div>
            <div id="imageContainer"></div>
            <br /><br />
            <button
              id="save-gallery-btn"
              onclick="saveAndContinueGalleryDetails()"
            >
              Save and Continue
            </button>
          </div>
        </div>

        <div id="Amenities" style="margin-left: 10px">
          <h2 style="font-size: 30px">
            <i class="fas fa-utensils"></i> Amenities
          </h2>
          <div class="input-group11" style="margin-top: 40px">
            <label for="water-supply" style="font-size: 20px"
              ><i class="fas fa-tint"></i>Water Supply:</label
            >
            <select
              id="water-supply"
              name="water-supply"
              style="height: 35px; margin-right: 55px"
            >
              <option value="corporation">Corporation</option>
              <option value="borewell">Borewell</option>
              <option value="both">Both</option>
              <option value="none">None</option>
            </select>

            <label for="electricity-supply" style="font-size: 20px"
              ><i class="fas fa-bolt"></i> Electricity Supply:</label
            >
            <select
              id="electricity-supply"
              name="electricity-supply"
              style="height: 35px; margin-right: 55px"
            >
              <option value="electricityBoard">Electricity Board</option>
              <option value="solar">Solar</option>
              <option value="both">Both</option>
              <option value="none">None</option>
            </select>
          </div>
          <div
            class="input-group12"
            style="margin-top: 50px; margin-bottom: 40px"
          >
            <label for="sewage-connection" style="font-size: 20px"
              ><i class="fas fa-water"></i>Sewage Connection</label
            >
            <select
              id="sewage-connection"
              name="sewage-connection"
              style="height: 35px; margin-right: 55px"
            >
              <option value="open">Open</option>
              <option value="underground">Underground</option>
              <option value="none">None</option>
            </select>
            <br /><br /><br /><br />

            <label for="road" style="font-size: 20px"
              >Width of approach road to plot (sq feet):</label
            >
            <input
              type="number"
              id="road"
              name="road"
              min="0"
              placeholder="Width of approach road"
              style="height: 25px"
              required
            />
          </div>

          <div class="input-group13">
            <label for="security" style="font-size: 20px"
              ><i class="fas fa-shield-alt"></i>Gated Security</label
            >
            <label
              ><input
                type="radio"
                name="security"
                value="yes"
                style="font-size: 20px"
              />yes</label
            >
            <label
              ><input
                type="radio"
                name="security"
                value="no"
                style="font-size: 20px"
              />no</label
            >
          </div>
          <br /><br /><br /><br />
          <div class="input-group14" style="margin-bottom: 30px">
            <label for="Availability" style="font-size: 20px"
              >Availability to show property :</label
            >
            <select
              id="Availability"
              name="Availability"
              style="height: 35px; margin-right: 55px"
            >
              <option value="Availability">Availability</option>
              <option value="EveryDay">EveryDay</option>
              <option value="Weekdays">Weekdays</option>
              <option value="WeekEnds">WeekEnds</option>
            </select>
          </div>
          <div class="scheduleTime">
            <label for="scheduleTime" style="font-size: 20px"
              >ScheduleTime :</label
            ><br /><br />
            <label for="startTime">Start Time:</label>
            <input type="time" id="startTime" name="startTime" /><br /><br />
            <label for="endTime">End Time:</label>
            <input type="time" id="endTime" name="endTime" />
          </div>
          <br /><br /><br /><br />
          <p style="font-size: 20px">Add Directions tip:</p>
          <textarea id="description-input" rows="4" cols="50"></textarea>
          <br />
          <br /><br /><br />
          <button id="post-btn" onclick="postProperty()">Post</button>
        </div>

        <p id="post-message" style="display: none">Property Posted</p>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Report</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Customer Service</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Property</h4>
            <ul>
              <li><a href="#">Rent</a></li>
              <li><a href="#">Sell</a></li>
              <li><a href="#">Buy</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/navbar.js"></script>
    <script src="js/plot_dev.js"></script>
    
  </body>
</html>
