<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Details</title>
    <link rel="stylesheet" href="/css/residential_plot.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <nav class="navbar nav">
        <section class="flex">
          <a href="/index" class="logo"><i class="fas fa-house"></i>DreamSpaces</a>
          <i class="mobile-view fa-solid fa-bars"></i>
          <ul id="top-menu">
            <li>
              <a href="/post_your_property"
                >Post Property<i class="fas fa-paper-plane"></i
              ></a>
            </li>
            <li>
              <a href="/user_details?tab=saved_properties&tabId=saved_props"
                ><span class="menu-mobile-view">Saved</span
                ><i class="far fa-heart"></i
              ></a>
            </li>
            <li>
              <a href="/notification" class="notifications">
                <span class="menu-mobile-view">Notifications</span>
                <i class="far fa-bell"></i>
              </a>
            </li>
            <li class="user-profile">
              <a href="#" class="profile-icon"
                ><span class="menu-mobile-view">User</span
                ><i class="fas fa-user"></i
              ></a>
              <ul>
                <li>
                  <a href="./user_details?tab=account&tabId=acc">Profile</a>
                </li>
                <li><a href="/login_signup">Sign Up</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </header>
  

    <div class="container">
      <div class="sidebar">
        <nav>
          <ul>
            <div class="Property Details" style="margin-bottom: 50px">
              <li>
                <i class="fas fa-home"></i
                ><a
                  href="#"
                  onclick="showPropertyDetails()"
                  style="font-size: 20px"
                  >Property Details</a
                >
              </li>
            </div>
            <div
              class="Rent Details"
              id="rentDetailsLink"
              style="margin-bottom: 50px"
            >
              <li>
                <i class="fas fa-dollar-sign"></i
                ><a
                  href="#"
                  id="rentDetailsAnchor"
                  onclick="showRentalDetails()"
                  style="font-size: 20px"
                  >Rent Details</a
                >
              </li>
            </div>
            <div class="Locality" style="margin-bottom: 50px">
              <li>
                <i class="fas fa-map-marker-alt"></i
                ><a
                  href="#"
                  onclick="showLocalityDetails()"
                  style="font-size: 20px"
                  >Locality</a
                >
              </li>
            </div>
            <div class="Gallery" style="margin-bottom: 50px">
              <li>
                <i class="fas fa-camera"></i
                ><a
                  href="#"
                  onclick="showGalleryAndScheduleForm()"
                  style="font-size: 20px"
                  >Gallery</a
                >
              </li>
            </div>
            <div class="Amenities">
              <li>
                <i class="fas fa-utensils"></i
                ><a
                  href="#"
                  onclick="showAmenitiesForm()"
                  style="font-size: 20px"
                  >Amenities</a
                >
              </li>
            </div>
          </ul>
        </nav>
      </div>
      <div class="forms">
        <div id="PropertyDetailsform" class="form">
          <h1 style="margin-bottom: 30px; font-size: 30px">
            <i class="fas fa-home"></i> Property Details
          </h1>
          <div
            class="input-group1"
            style="margin-bottom: 50px; margin-left: 10px"
          >
            <label for="apartment-type" style="font-size: 20px">
              Apartment Type:</label
            >

            <select
              id="apartment-type"
              name="apartment-type"
              style="height: 30px"
              required
            >
              <option value="">Select Apartment Type</option>
              <option value="Apartment">Apartment</option>
              <option value="Independent">Independent House / Villa</option>
              <option value="Gated">Gated community villa</option>
              <option value="Penthouse">Penthouse</option>
            </select>
          </div>
          <div
            class="input-group2"
            style="margin-bottom: 50px; margin-left: 10px"
          >
            <label for="bhk-type" style="font-size: 20px">BHK Type:</label>
            <select
              id="bhk-type"
              name="bhk-type"
              style="height: 25px; margin-right: 50px"
              required
            >
              <option value="">Select BHK Type</option>
              <option value="1">1 BHK</option>
              <option value="2">2 BHK</option>
              <option value="3">3 BHK</option>
              <option value="4">4 BHK</option>
              <option value="5">5 BHK</option>
            </select>

            <label for="floor" style="font-size: 20px">Floor Number:</label>
            <input
              type="number"
              id="floor"
              name="floor"
              min="0"
              placeholder="Enter Floor Number"
              style="margin-right: 50px; height: 25px"
              required
            />
          </div>
          <div
            class="total-floors"
            style="margin-left: 10px; margin-bottom: 20px"
          >
            <label for="total-floors" style="font-size: 20px"
              >Total Number of Floors:</label
            >
            <input
              type="number"
              id="total-floors"
              name="total-floors"
              min="0"
              placeholder="Enter Total Number of Floors"
              style="width: 200px; height: 25px; margin-bottom: 35px"
              required
            />
          </div>
          <div
            class="input-group3"
            style="margin-bottom: 60px; margin-left: 10px"
          >
            <label for="property-age" style="font-size: 20px"
              >Property Age:</label
            >
            <input
              type="number"
              id="property-age"
              name="property-age"
              min="0"
              placeholder="Enter Property Age"
              size="10"
              style="width: 140px; margin-right: 55px; height: 25px"
              required
            />

            <label for="facing" style="font-size: 20px">Facing:</label>
            <select
              id="facing"
              name="facing"
              style="margin-right: 55px; height: 25px"
              required
            >
              <option value="">Select Facing</option>
              <option value="North">North</option>
              <option value="South">South</option>
              <option value="East">East</option>
              <option value="West">West</option>
              <option value="North-East">North-East</option>
              <option value="North-West">North-West</option>
              <option value="South-East">South-East</option>
              <option value="South-West">South-West</option>
            </select>
          </div>
          <div
            class="input-group4"
            style="margin-bottom: 100px; margin-left: 10px"
          >
            <label for="built-up-area" style="font-size: 20px"
              >Built-up Area (sq feet):</label
            >
            <input
              type="number"
              id="built-up-area"
              min="0"
              name="built-up-area"
              placeholder="Enter Built-up Area"
              style="height: 25px"
              required
            />
          </div>
          <button
            id="save-property-details-btn"
            onclick="saveAndContinuePropertyDetails()"
          >
            Save Property Details
          </button>
        </div>
        <div id="RentalDetailsform" class="form">
          <h1 style="margin-bottom: 30px; font-size: 30px">
            <i class="fas fa-dollar-sign"></i> Rental Details
          </h1>

          <div
            class="input-group5"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="Expected-rent" style="font-size: 20px"
              >Expected-rent :</label
            >
            <input
              type="number"
              id="Expected-rent"
              name="Expected-rent"
              min="0"
              max="10000000"
              placeholder="Enter Amount"
              size="10"
              style="width: 170px; margin-right: 55px; height: 35px"
              required
            />

            <label for="Expected-deposit" style="font-size: 20px"
              >Expected-deposit :</label
            >
            <input
              type="number"
              id="Expected-deposit"
              name="Expected-deposit"
              min="0"
              max="10000000"
              placeholder="Enter Amount"
              size="10"
              style="width: 170px; margin-right: 55px; height: 35px"
              required
            />
          </div>

          <div
            class="input-group6"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <input
              type="checkbox"
              id="Rent-Negotiable"
              name="Rent Negotiable"
              value="Rent Negotiable"
            />
            <label for="Rent Negotiable" style="font-size: 20px">
              Rent Negotiable</label
            ><br />
          </div>

          <div
            class="input-group7"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="Monthly Maintenance" style="font-size: 20px"
              >Monthly Maintenance</label
            >
            <br />
            <br />
            <select
              id="Monthly-Maintenance"
              name="Monthly Maintenance"
              style="height: 35px"
              required
            >
              <option value="Monthly Maintenance">Monthly Maintenance</option>
              <option value="Maintenance Included">Maintenance Included</option>
              <option value="Maintenance Extra">Maintenance Extra</option>
            </select>
          </div>

          <div
            class="input-group8"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="Available From " style="font-size: 20px"
              >Available From :</label
            >
            <input
              type="date"
              id="Available-From "
              name="Available From "
              style="height: 35px"
              required
            />
          </div>
          <div
            class="input-group9"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="Preferred Tenants" style="font-size: 20px"
              >Preferred Tenants :</label
            >
            <label
              ><input type="checkbox" name="Anyone" value="Anyone" />
              Anyone</label
            >
            <label
              ><input type="checkbox" name="Family" value="Family" />
              Family</label
            >
            <label
              ><input
                type="checkbox"
                name="BachelorFemale"
                value="Bachelor Female"
              />
              Bachelor Female</label
            >
            <label
              ><input
                type="checkbox"
                name="BachelorMale"
                value="Bachelor Male"
              />Bachelor Male</label
            >
          </div>
          <div
            class="input-group10"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="Furnishing" style="font-size: 20px">Furnishing :</label>
            <select
              id="Furnishing"
              name="Furnishing"
              style="height: 35px; margin-right: 55px"
              required
            >
              <option value="Furnishing">Furnishing</option>
              <option value="Fully-Furnished">Fully-Furnished</option>
              <option value="Semi-Furnished">Semi-Furnished</option>
              <option value="UnFurnished">UnFurnished</option>
            </select>

            <label for="Parking" style="font-size: 20px">Parking :</label>
            <select id="Parking" name="Parking" style="height: 35px" required>
              <option value="Parking">Parking</option>
              <option value="Car">Car</option>
              <option value="Bike">Bike</option>
              <option value="Both">Both</option>
              <option value="None">None</option>
            </select>
          </div>
          <div
            class="description-box"
            style="margin-left: 10px; margin-bottom: 15px"
          >
            <p style="font-size: 20px">Description-box</p>
            <br />
            <textarea id="description-input" rows="4" cols="50"></textarea>
          </div>

          <button
            id="save-rental-details-btn"
            onclick="saveAndContinueRentalDetails()"
          >
            Save Rental Details
          </button>
        </div>

        <div id="LocalityDetailsform">
          <h2 style="font-size: 35px; margin-bottom: 30px">
            <i class="fas fa-map-marker-alt"></i> Locality
          </h2>
          <div
            class="input-group11"
            style="margin-left: 10px; margin-bottom: 30px"
          >
            <label for="City" style="font-size: 20px">City :</label>
            <select
              id="City"
              name="City"
              style="height: 35px; margin-right: 55px; width: 360px"
              required
            >
              <option value="Chennai">Chennai</option>
              <option value="Mumbai">Mumbai</option>
              <option value="Banglore">Banglore</option>
              <option value="Hyderabad">Hyderabad</option>
              <option value="Kolkata">Kolkata</option>
            </select>
            <br />
            <br />
            <br />
            <label for="Locality" style="font-size: 20px">Locality :</label>
            <input
              type="text"
              id="Locality"
              name="Locality"
              placeholder="         Enter Locality"
              size="10"
              style="width: 170px; height: 35px; width: 360px"
              required
            />

            <br />
            <br />
            <br />
            <br />
            <label for="LocalLandmark / Streetity" style="font-size: 20px"
              >Landmark / Street :</label
            >
            <input
              type="text"
              id="Landmark / Street"
              name="Landmark / Street"
              placeholder="         Enter Landmark / Street"
              size="10"
              style="width: 170px; height: 35px; width: 360px"
              required
            />
            <br />
            <br />
            <br />
            <br />
            <p style="font-size: 20px">Description-box</p>
            <br />
            <textarea id="description-input" rows="4" cols="50"></textarea>
          </div>
          <button
            id="save-locality-details-btn"
            onclick="saveAndContinueLocalityDetails()"
          >
            Save Locality Details
          </button>
        </div>
        <div id="centeredWrapper">
          <div id="Gallery">
            <h2 style="font-size: 30px">
              <i class="fas fa-camera"></i> Gallery
            </h2>
            <br /><br />
            <div class="file-input">
              <input
                type="file"
                id="image"
                name="image"
                accept="image/*"
                multiple
                max="10"
              />
              <label for="image">Choose image(s) (Maximum 10)</label>
            </div>
            <br /><br />
            <button type="button" id="uploadBtn">Upload</button>
            <div id="uploadStatus"></div>
            <div id="imageContainer"></div>
            <br /><br />
            <button
              id="save-gallery-btn"
              onclick="saveAndContinueGalleryDetails()"
            >
              Save and Continue
            </button>
          </div>
        </div>

        <div id="Amenities">
          <div class="input-group11">
            <h2 style="font-size: 30px">
              <i class="fas fa-utensils"></i> Amenities
            </h2>
            <br />
            <br />
            <br />
            <label for="bathrooms" style="font-size: 20px">
              <i class="fas fa-bath"></i> Number of Bathrooms:</label
            >
            <input
              type="number"
              id="bathrooms"
              name="bathrooms"
              min="0"
              style="height: 35px; margin-right: 35px; width: 50px"
            />

            <label for="balcony" style="font-size: 20px"
              ><i class="fas fa-door-open"></i>Balcony:</label
            >
            <select
              id="balcony"
              name="balcony"
              style="height: 35px; margin-right: 55px"
            >
              <option value="0">None</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>

            <label for="water-supply" style="font-size: 20px"
              ><i class="fas fa-tint"></i> Water Supply:</label
            >
            <select id="water-supply" name="water-supply" style="height: 35px">
              <option value="corporation">Corporation</option>
              <option value="borewell">Borewell</option>
              <option value="both">Both</option>
            </select>

            <div
              class="input-group12"
              style="margin-top: 50px; margin-bottom: 50px"
            >
              <label for="Gym" style="font-size: 20px"
                ><i class="fas fa-dumbbell"></i>Gym :
              </label>
              <label
                ><input
                  type="radio"
                  name="Gym"
                  value="yes"
                  style="font-size: 20px"
                />yes</label
              >
              <label
                ><input
                  type="radio"
                  name="Gym"
                  value="no"
                  style="font-size: 20px"
                />no</label
              >

              <label class="Non-veg" style="font-size: 20px; margin-left: 35px"
                ><i class="fas fa-drumstick-bite"></i>Non-veg :
              </label>
              <label
                ><input
                  type="radio"
                  name="Non-veg"
                  value="yes"
                  style="font-size: 20px"
                />yes</label
              >
              <label
                ><input
                  type="radio"
                  name="Non-veg"
                  value="no"
                  style="font-size: 20px"
                />no</label
              >

              <label
                class="Gated-security"
                style="font-size: 20px; margin-left: 35px"
                ><i class="fas fa-shield-alt"></i>Gated-security :
              </label>
              <label
                ><input
                  type="radio"
                  name="Gated-security"
                  value="yes"
                  style="font-size: 20px"
                />yes</label
              >
              <label
                ><input
                  type="radio"
                  name="Gated-security"
                  value="no"
                  style="font-size: 20px"
                />no</label
              >
            </div>

            <div class="input-group13" style="margin-bottom: 30px">
              <label for="Availability" style="font-size: 20px"
                >Availability to show property :</label
              >
              <select
                id="Availability"
                name="Availability"
                style="height: 35px; margin-right: 55px"
              >
                <option value="Availability">Availability</option>
                <option value="EveryDay">EveryDay</option>
                <option value="Weekdays">Weekdays</option>
                <option value="WeekEnds">WeekEnds</option>
              </select>
            </div>
            <div class="scheduleTime">
              <label for="scheduleTime" style="font-size: 20px"
                >ScheduleTime :</label
              ><br /><br />
              <label for="startTime">Start Time:</label>
              <input type="time" id="startTime" name="startTime" /><br /><br />
              <label for="endTime">End Time:</label>
              <input type="time" id="endTime" name="endTime" />
            </div>
            <br />
            <br />
            <br />
            <h3>Select the below Available Amenities :</h3>
            <br />
            <br />
            <div class="checkbox-group1" style="margin-bottom: 30px">
              <label
                ><input
                  type="checkbox"
                  name="amenities"
                  value="lift"
                  style="font-size: 20px" />
                Lift <i class="fas fa-arrow-up"></i
              ></label>
              <label
                ><input
                  type="checkbox"
                  name="amenities"
                  value="internet"
                  style="font-size: 20px; margin-left: 50px" />
                Internet <i class="fas fa-wifi"></i
              ></label>
            </div>
            <div class="checkbox-group2" style="margin-bottom: 30px">
              <label
                ><input
                  type="checkbox"
                  name="amenities"
                  value="air-conditioner"
                  style="font-size: 20px" />
                Air Conditioner <i class="fas fa-snowflake"></i
              ></label>
              <label
                ><input
                  type="checkbox"
                  name="amenities"
                  value="swimming-pool"
                  style="font-size: 20px; margin-left: 50px" />
                Swimming Pool <i class="fas fa-swimming-pool"></i
              ></label>
            </div>
            <div class="checkbox-group3" style="margin-bottom: 30px">
              <label
                ><input
                  type="checkbox"
                  name="amenities"
                  value="club-house"
                  style="font-size: 20px" />
                Club House <i class="fas fa-landmark"></i
              ></label>
              <label
                ><input
                  type="checkbox"
                  name="amenities"
                  value="children-play-area"
                  style="font-size: 20px; margin-left: 50px" />
                Children Play Area <i class="fas fa-child"></i
              ></label>
            </div>
            <div class="checkbox-group4" style="margin-bottom: 30px">
              <label
                ><input
                  type="checkbox"
                  name="amenities"
                  value="gas-pipeline"
                  style="font-size: 20px" />
                Gas Pipeline <i class="fas fa-gas-pump"></i
              ></label>
              <label
                ><input
                  type="checkbox"
                  name="amenities"
                  value="house-keeping"
                  style="font-size: 20px; margin-left: 50px" />
                House Keeping<i class="fas fa-broom"></i
              ></label>
            </div>
            <button id="post-btn" onclick="postProperty()">Post</button>
          </div>
        </div>

        <p id="post-message" style="display: none">Property Posted</p>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">affiliate program</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">shipping</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>online shop</h4>
            <ul>
              <li><a href="#">watch</a></li>
              <li><a href="#">bag</a></li>
              <li><a href="#">shoes</a></li>
              <li><a href="#">dress</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/navbar.js"></script>
    <script src="/js/residential_rent.js"></script>
   
  </body>
</html>
