@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    background-image: url(/images/background.jpg);
    background-size: 100% 100%;
}

.container {
    overflow: hidden; /* Clear the floats */
    margin: 20px auto; /* Center the container horizontally */
}

.sidebar {
    width: 20%; /* Adjust width as needed */
    float: left; /* Float the sidebar to the left */
    background-color: #f8f9fa; /* Set sidebar background color */
    padding: 20px; /* Add padding */
    border-right: 1px solid #dee2e6; /* Add border */
    margin-top: 20px;
    margin-right: 20px; /* Add space between sidebar and forms */

}

.sidebar nav ul {
    list-style-type: none;
    padding: 0; /* Remove default padding */
}

.sidebar nav ul li {
    margin-bottom: 15px;
}
/* Add green border-left to active link */
.sidebar nav ul li a.active {
    background-color: #936c4ac7; /* Set active item background color */
    color: #fff; /* Set active item text color */
    border-left: 3px solid #28a745; /* Add green left border for active item */
    padding-left: 12px; /* Adjust padding to make space for the border */
}
.sidebar nav ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
    display: flex; /* Align icon and text horizontally */
    align-items: center; /* Center the icon vertically */
}

.sidebar nav ul li i {
    margin-right: 10px; /* Add space between icon and text */
    color: #555; /* Set icon color */
    font-size: 18px; /* Set icon size */
}

.sidebar nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #343a40; /* Set link color */
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Add transition effect */
}

.sidebar nav ul li a:hover {
    background-color: #e9ecef; /* Change background color on hover */
}

.sidebar nav ul li.active a {
    background-color:#936c4ac7; /* Set active item background color */
    color: #fff; /* Set active item text color */
}

/* Indicator for active item */
.sidebar nav ul li.active::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #936c4ac7;
    border-radius: 50%;
    transform: translateY(-50%);
}




.forms {
    width: calc(80% - 40px); /* Take up the remaining 80% minus sidebar width and margin */
    float: left; /* Float the forms to the left */
    padding: 20px; /* Add padding */
    margin-bottom: 30px; /* Add margin bottom for spacing */
    height: calc(100vh - 20px); /* Height of viewport minus top and bottom margins */
    
}
#PropertyDetailsform,
#RentalDetailsform,
#LocalityDetailsform,
#Gallery,
#Amenities {
    width: auto; /* Set width to auto to allow it to adjust */
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: inline-block; /* Display the form elements inline */
    vertical-align: top; /* Align the elements to the top of the line */
}

/* Ensure elements within the forms stay on the same line */
#PropertyDetailsform .input-group,
#RentalDetailsform .input-group,
#LocalityDetailsform .input-group,
#Gallery .input-group,
#Amenities .input-group {
    display: inline-block;
    width: calc(50% - 20px); /* Adjust the width as needed */
    margin-right: 20px; /* Add some margin between elements */
    vertical-align: top; /* Align elements to the top */
}

/* Adjust width and margins for smaller screens */

/* Adjust width and margins for smaller screens */
@media (max-width: 992px) {
    .sidebar {
        width: 25%; /* Adjust sidebar width for smaller screens */
        margin-right: 0; /* Remove margin between sidebar and forms */
    }
    .forms {
        width: calc(75% - 20px); /* Adjust width of forms for smaller screens */
        margin-left: 20px; /* Add margin between forms and sidebar */
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Adjust sidebar width for mobile screens */
        margin-top: 0; /* Remove margin between header and sidebar */
        margin-right: 0; /* Remove margin between sidebar and forms */
        border-right: none; /* Remove right border for mobile screens */
        border-bottom: 1px solid #dee2e6; /* Add bottom border for mobile screens */
    }
    .forms {
        width: 100%; /* Adjust width of forms for mobile screens */
        margin-left: 0; /* Remove margin between forms and sidebar */
    }
}

.form {
    position: relative; /* Set position to relative */
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.form h1,
.form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 18px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: calc(100% - 22px); /* Adjust the width of input fields */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.input-group input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 5px;
}

.description-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #936c4ac7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #936c4ac7;
}

#post-message {
    display: none;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
#imageContainer {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
}

#imageContainer img {
    max-width: 100%; /* Set maximum width for images */
    max-height: 150px; /* Set maximum height for images */
    margin: 5px; /* Add margin to create space between images */
    border: 1px solid #ccc; /* Add border for better visibility */
}
/* Adjust image size for smaller screens */
@media (max-width: 767px) {
    #imageContainer img {
        flex: 0 1 calc(33.33% - 10px); /* Set flex to fit three images per row with some spacing */
    }
}

/* Adjust image size for smaller screens */
@media (max-width: 574px) {
    #imageContainer img {
        flex: 0 1 calc(50% - 10px); /* Set flex to fit two images per row with some spacing */
    }
}

:root{
    --main-color:#936c4ac7;
    --light-color:#666;
    --light-bg:#eae7e7;
    --white:#fff;
    --black:#303030;
    --border:.1rem solid var(--light-color);
    --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
 }
 
 *{
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; ;
    text-decoration: none;
 }
 
 *::selection{
    background-color: var(--main-color);
    color: var(--white);
 }
 
 *::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 5rem;
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
 }
 
 body{
    background-color: var(--light-bg);
 }
 
 section{
    max-width: 1200px;
    margin: 0 auto;
 }
 
 .heading{
    text-align: center;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    font-size: 3rem;
    color: var(--black);
    text-transform: capitalize;
 }
 
 .btn,
 .inline-btn{
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
 }
 
 .btn:hover,
 .inline-btn:hover{
    background-color: var(--black);
 }
 
 .btn{
    display: block;
    width: 100%;
 }
 
 .inline-btn{
    display: inline-block;
 }
 
 .header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: var(--box-shodow);
 }
 
 .header .navbar.nav .flex{
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
 
 .header .navbar.nav{
    background-color: var(--black);
 }
 
 
 .header .navbar .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .header .navbar .flex .logo{
    font-size: 2.2rem;
    color: var(--white); 
 }
 
 .header .navbar .flex .logo i{
    color: var(--main-color);
    margin-right: 1rem;
 }
 
 .header .navbar .flex ul{
    list-style: none;
 }
 
 .header .navbar .flex ul li{
    float: left;
    position: relative;
 }
 
 .header .navbar .flex ul li a{
    display: inline-block;
    padding: 1.2rem 2.5rem 1.2rem 2rem;
    font-size: 1.8rem;
    margin-right: 0.8rem;
    color: var(--black);
    background-color: var(--white);
 }
 
 .header .navbar .flex ul li a:hover{
    background-color: var(--main-color);
    color: var(--white);
 }
 
 .header .navbar .flex ul li a i{
    margin-left: 1rem;
 }
 
 .header .navbar .flex ul li ul{
    position: absolute;
    width: 17rem;
    left: 0;
 }
 
 .header .navbar .flex ul li ul li{
    width: 100%;
 }
 
 .header .navbar .flex ul li ul li a{
    display: none;
 }
 
 .header .navbar .flex ul li:hover ul li a{
    display: block;
 }
 .mobile-view {
    display: none;
    font-size: 20px;
    position: absolute;
    right: 15px;
    color: white;
    z-index: 1;
 }
 #top-menu {
    display: flex;
 }
 
 .menu-mobile-view {
    display: none;
 }
 
 @media screen and (max-width: 550px) {
    .mobile-view {
       display: block;
    }
    
    .menu-mobile-view {
       display: inline;
    }
    
    .header .navbar .flex ul {
       top: 40px;
       right: 0px;
       position: absolute;
       display: flex;
       flex-direction: column;
    }
    
    .header .navbar .flex ul li {
       border-bottom: 1px solid #777;
       background-color: #666;
    }
    
    .header .navbar .flex ul li a {
       background-color: #666;
       width: 200px;
       color: white;
       text-align: right;
    }
 
    #top-menu {
       display: none;
    }
   
 }
 #menu-btn{
    font-size: 2.5rem;
    color: var(--black);
    display: none;
 }
 
 
 

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.file-input {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* Styling for file input */
/* Styling for file input */
.file-input input[type="file"] {
    display: none; /* Hide the default file input */
}

.file-input label {
    background-color: #936c4ac7;
    color: #fff;
    padding: 15px 20px; /* Increase padding to make it bigger */
    border-radius: 8px; /* Increase border radius for rounded corners */
    cursor: pointer;
    font-size: 16px; /* Increase font size */
    height: 50px; /* Set height */
    width: 200px; /* Set width */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center; /* Center the text horizontally */
}

.file-input label:hover {
    background-color:#936c4ac7;
}
